<p>Bonjour <%= @child.name.capitalize %>,</p>

<p>Un compte vient de t'être créée sur https://widou.herokuapp.com</p>
<p>Connecte toi avec ce mot de passe : "123widou"</p>

<p>Dès que tu seras connecté, n'hésite pas à le modifier.</p>
<p>Pour ca, rien de bien compliquer, une fois connecté à ton profil tu vas sur "mon compte"</p>

<p>A très vite</p>