<div>
  <h2>Ajouter une récompense</h2>
  <div>
    <%= simple_form_for [@family, @reward] do |f| %>
      <%= f.input :name, placeholder: 'Nom de la récompense' %>
      <%= f.input :price, collection: 1..50 %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>

<p> Revoir la liste de nos partenaires </p>
