<h1>New Rewards</h1>
<!-- "formulaire" pour créer une récompense
Nom + Prix -->
<form>
  <div class="form-group">
    <input type="text" class="form-control" id="rewardInput" placeholder="Nouvelle récompense">
  </div>
</form>

<p> Revoir la liste de nos partenaires </p>
