<div>
    <%= simple_form_for @family do |f| %>
    <%= f.input :name, label: 'Nom de votre Famille', placeholder: 'Nom de votre famille' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
