<h1>Tableau de bord</h1>
<!-- D'après moi, il faut afficher les 4 infos sous forme de carrés cliquable voir : Appli TBM (itinéraire horaire proximité trafic) mais en plus gros et plus beau -->


 <ul>
  <li> <%= link_to 'Mes enfants', family_children_path(current_user) %> </li>
  <li> <%= link_to 'Les missions', family_missions_path(current_user)%> </li>
  <li> <%= link_to 'Les récompenses', family_rewards_path(current_user)%> </li>
  <li> <%= link_to 'Nos partenaires', partnairs_path %> </li>
</ul>
