<h1> Bienvenue sur ...</h1>

<h2> <%= link_to "Première connection", new_user_registration_path %> </h2>
<h2> <%= link_to "Se connecter", new_user_session_path %> </h2>
<h2> <%= link_to "Family", new_family_path %> </h2>
