
<%= render 'shared/navbar' %>

<div class="welcome-connection"> 
    <h1 class="title">bienvenue</h1> 
    <h2> <%= link_to "S'inscrire", new_family_path %> </h2>
    <h2> <%= link_to "Se connecter", new_user_session_path %> </h2>
</div>

