<div class="home page-container page-container--center">
    <%= render 'shared/navbar' %>
    
    <div class="welcome-connection"> 
        <h1 class="title">bienvenue</h1> 
        <p class="intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis eu ante quis euismod. Phasellus mauris ligula, congue id dui quis, mollis ultricies tellus. Duis a felis varius, tempor diam sit amet, molestie massa. Mauris mauris purus, interdum ut arcu eget, hendrerit tincidunt orci. Ut maximus faucibus arcu quis vulputate. </p>
        <h2 id="subscribe"> <%= link_to "S'inscrire",  new_family_path, :class => "button-subscribe" %> </h2>
        <h2> <%= link_to "Se connecter", new_user_session_path, :class => "connection" %> </h2>
    </div>


    <%= render 'shared/footer' %>
</div>


