html, body {
    height:100%;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container--center {
    justify-content: space-between;
}

.button-subscribe {
    background-color: #057F9B;
    color: white;
    border-radius: 19px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 0px 61px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
}

.connection {
    color: black;
    text-decoration: underline;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2px;
    padding: 0px 61px;
    text-align: center;
    text-transform: uppercase;  
}

h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px; 
}

a {
    font-family: 'Maven Pro', sans-serif;
   
}

.children-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
  grid-gap: 10px;
  text-decoration: none;
}

.suggestion-container {
    padding-top:30px;
}

.suggestion-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px 20px 20px 20px;
    grid-gap: 5px;
    text-decoration: none;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 20px 20px 20px;
    grid-gap: 5px;
    text-decoration: none;
    }

.button-widou {
    background-color: #057F9B;
    color: white;
    border-radius: 19px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 0px 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
}

    .button-dashboard {
        background-color: #057F9B;
        color: white;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 1px;
        padding: 24px;
        margin: 3px;
        text-align: center;
        text-decoration: none;
        font-family: 'Maven Pro', sans-serif
    }

.button-children {
    background-color: #057F9B;
    color: white;
    border-radius: 19px;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 1px;
    padding: 0px;
    margin:10px;
    text-align: center;
    margin-top: 7px;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif
}


.button-suggestion {
    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    padding: 6px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
}

.button-small {
    background-color: #057F9B;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0px;
    margin: 0px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    border: 0;   
}


.missions-list {

    display:flex;
    flex-direction: column;

}


.rewards-list {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reward {
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
}
.reward__name {
    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    flex-grow: 1;
    padding: 10px;
    flex-direction: column;
    
    p {
        margin:0;
    }

    a {
        color:white;
    }

}

.available-reward {
    background-color: #F7B235;
    width: 100%;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    flex-grow: 1;
    padding: 5px;
    flex-direction: column;
    
    p {
        margin:0;
    }

    a {
        color:white;
    }
    
}

.reward__cta {
    display:flex;

    .button-small {
        height:100%;
    }
    .button-small:first-child {
        margin-right: 5px;
    }
    
}

.ongoing-mission {
  display:flex;
  flex-direction: row;
  text-decoration:none;
}

.ongoing-mission__cta {
    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    flex-grow: 1;
    padding: 10px 0;

    a {
        color:white;
    }

}


.ongoing-mission-parents__CTA {

    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    padding: 5px;

    a {
        color:white;
    }

}


.ongoing-mission__links {
    display:flex;

    .button-small {
        height:100%;
    }
    .button-small:first-child {
        margin-right: 5px;
    }
    
}


.child-mission-list {

    display:flex;
    flex-direction: column;
    text-decoration:none;

}

.child-mission-list__date {

    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    flex-grow: 1;
    padding: 10px;

    p {
        margin:0;
    }
}


.child-mission-list__rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    flex-grow: 1;
    padding: 10px;

    p {
        margin:0;
    }

}

.ongoing-mission-children__CTA {
    background-color: #F7B235;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    padding: 5px;

    a {
        color:white;
    }
}

.notif-mission {
    background-color: #FF4221;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    position: relative;
    bottom: 180px;
    left: 356px;
}

.validation-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .btn-success {
        color:white;
    
    }
}