<h1><%= @mission.name.upcase %></h1>
<p>Début de la mission : <%= @mission.start_at %></p>
<p>Fin de la mission prévue le : <%= @mission.end_at %></p>
<p>Nombres de points rapportés : <%= @mission.point %></p>

<!-- Indiquer à quel enfant appartient la mission
Savoir si elle a été complétée ou non -->
